org.apache.spark.sql.v2.avro.AvroScan.class,spark-avro_2.12-VERSION.jar
org.apache.spark.sql.catalyst.types.PhysicalLongType.class,spark-catalyst_2.12-VERSION.jar
org.apache.spark.SparkEnv.class,spark-core_2.12-VERSION.jar
org.apache.spark.graphx.Edge.class,spark-graphx_2.12-VERSION.jar
org.apache.spark.internal.io.cloud.PathOutputCommitProtocol.class,spark-hadoop-cloud_2.12-VERSION.jar
org.apache.spark.sql.hive.thriftserver.SparkSQLEnv.class,spark-hive-thriftserver_2.12-VERSION.jar
org.apache.spark.sql.hive.HiveShim.class,spark-hive_2.12-VERSION.jar
org.apache.spark.deploy.k8s.Config.class,spark-kubernetes_2.12-VERSION.jar
org.apache.spark.util.kvstore.KVStore.class,spark-kvstore_2.12-VERSION.jar
org.apache.spark.launcher.Main.class,spark-launcher_2.12-VERSION.jar
org.apache.spark.ml.linalg.Vector.class,spark-mllib-local_2.12-VERSION.jar
org.apache.spark.ml.Model.class,spark-mllib_2.12-VERSION.jar
org.apache.spark.network.TransportContext.class,spark-network-common_2.12-VERSION.jar
org.apache.spark.network.shuffle.ShuffleIndexInformation.class,spark-network-shuffle_2.12-VERSION.jar
org.apache.spark.repl.Main.class,spark-repl_2.12-VERSION.jar
org.apache.spark.util.sketch.Platform.class,spark-sketch_2.12-VERSION.jar
org.apache.spark.sql.SaveMode.class,spark-sql_2.12-VERSION.jar
org.apache.spark.streaming.Checkpoint.class,spark-streaming_2.12-VERSION.jar
org.apache.spark.annotation.Since.class,spark-tags_2.12-VERSION.jar
org.apache.spark.unsafe.Platform.class,spark-unsafe_2.12-VERSION.jar
org.apache.spark.deploy.yarn.Client.class,spark-yarn_2.12-VERSION.jar
